:root {
    --bgd: #181818;
    --bgn: #1F1F1F;
    --bgl: #242424;
    --hlt: #4D6ECF;
    --fgd: #868686;
    --fgn: #CCCCCC;
    --fgl: #D7D7D7;
    --bdr: #2B2B2B;
    --kanji: invert(0);
}
.light {
    --bgd: #F8F8F8;
    --bgn: #FFFFFF;
    --bgl: #EBEBEB;
    --hlt: #3E55B4;
    --fgd: #616161;
    --fgn: #3B3B3B;
    --fgl: #1F1F1F;
    --bdr: #E5E5E5;
    --kanji: invert(1);
}

@font-face {
    font-family: "OpenDyslexic";
    src:
        url("./font/OpenDyslexic-Regular.otf") format("opentype"),
        url("./font/OpenDyslexic-Regular.woff2") format("woff2"),
        url("./font/OpenDyslexic-Regular.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-weight: bold;
    src:
        url("./font/OpenDyslexic-Bold.otf") format("opentype"),
        url("./font/OpenDyslexic-Bold.woff2") format("woff2"),
        url("./font/OpenDyslexic-Bold.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-style: italic;
    src:
        url("./font/OpenDyslexic-Italic.otf") format("opentype"),
        url("./font/OpenDyslexic-Italic.woff2") format("woff2"),
        url("./font/OpenDyslexic-Italic.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-weight: bold;
    font-style: italic;
    src:
        url("./font/OpenDyslexic-Bold-Italic.otf") format("opentype"),
        url("./font/OpenDyslexic-Bold-Italic.woff2") format("woff2"),
        url("./font/OpenDyslexic-Bold-Italic.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "OpenDyslexic", Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bgn);
    color: var(--fgn);
    padding-top: 36px;
}

#logo {
    height: 36px;
    filter: var(--kanji);
    pointer-events: none;
    user-select: none;
}

body > header {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--bdr);
    background-color: var(--bgd);
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#theme {
    width: 26px;
    height: 26px;
    margin-left: auto;
    user-select: none;
    border: 1px solid var(--bdr);
    border-radius: 50%;
    cursor: pointer;
    background: url('./theme.png') right/cover no-repeat;
    opacity: 0.8;
}
#theme:hover {
    opacity: 1;
    background-color: var(--bgl)
}
.light #theme {
    background-position-x: left;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}
#main>p {
    max-width: 800px;
    width: 100%;
    text-align: justify;
}

hr {
    max-width: 800px;
    height: 10px;
    width: 800px;
    border: none;
    margin: 0;
    position: relative;
    margin: 10px 0;
}
hr::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid var(--fgl);
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
hr::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--fgl);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    line-height: 34px;
    padding: 0 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
#title.placeholder {
    color: var(--fgd);
    font-size: 15px;
}
#title:hover, #nav.show + #title {
    border-color: var(--bdr);
    background-color: var(--bgl);
}

#nav {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    max-width: 400px;
    width: 100%;
    display: none;
    user-select: none;
}
#nav.show {
    display: block;
}

#nav a {
    color: var(--fgn);
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid var(--bdr);
    background-color: var(--bgl);
    font-size: 20px;
    user-select: none;
    display: block;
    position: relative;
    border-top-width: 0px;
}
#nav a:first-child {
    border-top-width: 1px;
}
#nav a:hover {
    color: var(--fgl);
}
#nav a:hover::after {
    content: "";
    position: absolute;
    border: 2px solid var(--hlt);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}