:root {
    --bgd: #181818;
    --bgn: #1F1F1F;
    --bgl: #242424;
    --hlt: #2B2D2E;
    --fgd: #868686;
    --fgn: #CCCCCC;
    --fgl: #D7D7D7;
    --bdr: #313131;
    --err: #DC8475;
    --kanji: invert(0);
}
.light {
    --bgd: #F8F8F8;
    --bgn: #FFFFFF;
    --bgl: #EBEBEB;
    --hlt: #CCCCCC;
    --fgd: #616161;
    --fgn: #3B3B3B;
    --fgl: #1F1F1F;
    --bdr: #E5E5E5;
    --err: #DC8475;
    --kanji: invert(1);
}

@font-face {
    font-family: "OpenDyslexic";
    src:
        url("./font/OpenDyslexic-Regular.otf") format("opentype"),
        url("./font/OpenDyslexic-Regular.woff2") format("woff2"),
        url("./font/OpenDyslexic-Regular.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-weight: bold;
    src:
        url("./font/OpenDyslexic-Bold.otf") format("opentype"),
        url("./font/OpenDyslexic-Bold.woff2") format("woff2"),
        url("./font/OpenDyslexic-Bold.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-style: italic;
    src:
        url("./font/OpenDyslexic-Italic.otf") format("opentype"),
        url("./font/OpenDyslexic-Italic.woff2") format("woff2"),
        url("./font/OpenDyslexic-Italic.woff") format("woff");
}
@font-face {
    font-family: "OpenDyslexic";
    font-weight: bold;
    font-style: italic;
    src:
        url("./font/OpenDyslexic-Bold-Italic.otf") format("opentype"),
        url("./font/OpenDyslexic-Bold-Italic.woff2") format("woff2"),
        url("./font/OpenDyslexic-Bold-Italic.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--bgn);
}

body {
    margin: 0;
    font-family: "OpenDyslexic", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fgn);
    padding-top: 36px;
}

#logo {
    height: 36px;
    filter: var(--kanji);
    pointer-events: none;
    user-select: none;
}

body > header {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--bdr);
    background-color: var(--bgd);
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
#theme {
    width: 26px;
    height: 26px;
    margin-left: auto;
    user-select: none;
    border: 1px solid var(--bdr);
    border-radius: 50%;
    cursor: pointer;
    background: url('./theme.png') right/cover no-repeat;
    opacity: 0.8;
}
#theme:hover {
    opacity: 1;
    background-color: var(--bgl)
}
.light #theme {
    background-position-x: left;
}

.flex1 {
    flex: 1;
}
#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}
.error {
    color: var(--err);
    text-align: center;
    margin-top: 40px;
}
.error a {
    text-decoration: underline 1px currentColor;
}
a, a:visited {
    color: currentColor;
    text-decoration: none;
}

body > header {
    position: fixed;
}
#title {
    display: flex;
    justify-content: center;
    width: 0;
    white-space: nowrap;
    position: absolute;
    left: 50vw;
}

.button, .list-button {
    white-space: nowrap;
    padding: 0;
    background: var(--bgl);
    width: 100%;
    max-width: 800px;
}
.button {
    border: 1px solid var(--bdr);
    padding: 5px 15px;
    text-align: center;
    display: block;
}
.list-button {
    list-style: none;
}
.list-button a {
    color: currentColor;
    padding: 5px 15px;
    display: block;
    text-align: center;
}
.button:hover, .list-button:hover {
    background-color: var(--hlt);
}
.list {
    list-style: none;
    border: 1px solid var(--bdr);
    padding: 0;
    background: #222222;
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
}

body>#goback {
    --comment: "I cannot figure out why the anchor duplicates there. Out of sight, out of mind.";
    display: none;
}

#list > li > a {
    padding: 0;
    display: flex;
    gap: 15px;
}
#list > li > a > span {
    padding: 5px 15px;
    text-align: center;
    flex: 1;
}
#list > li > a > div {
    border-left: 1px solid var(--bdr);
    margin-left: auto;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toc > li > a {
    color: currentColor;
    padding: 5px 15px;
    display: block;
    text-align: center;
}
#toc > li > a.read { opacity: 0.3; }

nav {
    width: 100%;
    max-width: 800px;
    display: grid;
    margin: 15px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "prev toc next";
}
#prev-top, #prev-bot { grid-area: prev; }
#goback-top, #goback { grid-area: toc; }
#next-top, #next-bot { grid-area: next; }
@media screen and (max-width: 700px) {
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #nav-top { grid-template-areas: "toc toc" "prev next"; }
    #nav-bot { grid-template-areas: "prev next" "toc toc"; }
}

#content > p {
    max-width: 800px;
    width: 100%;
    text-align: justify;
}